body {
    font-family: monospace, "Courier New", Courier;
    font-size: 16px;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px solid #ccc;
}

.i {
    line-height: 0;
}

pre {
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ol {
    list-style-type: decimal-leading-zero;
}

#w {
    width: 800px;
}

@media only screen and (max-width: 800px) {

    #w,
    img {
        width: 100%;
    }

    #w {
        max-width: 800px;
    }

    img {
        height: auto;
    }

    section .footnotes {
        overflow-x: scroll;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #222;
        color: #eee;
    }

    a {
        color: #fa0;
    }

    pre,
    blockquote {
        background: #111;
        border: 10px solid #333;
        max-width: 100%;
        width: auto;
        padding: 20px;
        margin: 0 auto;
    }

    hr {
        border-top: 2px solid #333;
    }
}